# Ignore Visual Studio folder
.vs/

# Ignore Git internal files
FETCH_HEAD

# Build output folders
bin/
obj/

# User-specific files
*.user
*.suo

# OS and IDE
.DS_Store
Thumbs.db
.idea/
*.log

# Temporary or backup files
*.tmp
*.bak