@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import "./normalize.css";

@import "tailwindcss";
@import "./utils.css";

@theme {  --breakpoint-xs: 28rem;  --breakpoint-2xl: 100rem;  --breakpoint-3xl: 120rem;}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: "Libre Caslon Text", serif;
  scroll-behavior: smooth;
}
